@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #4FC251;
    --text-color: #FEFEF3;
}
html{
    font-size: 10px;

}
body{
    font-family: Inter, sans-serif;
    background-color: #344349;
    color: var(--text-color);
}

/* styles */
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
.about{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}
.title{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.prettl{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
}
.ttl{
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
    margin: 0.8rem 0;
}
.ttlsubs{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;  
}
/* layout */
.content{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: #415158;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
@media only screen and (max-width: 768px) {
    .content{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}
.profile{
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}
.clmn1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.clmn2{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.bttm{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.bttm > div {
    flex: 1;
}
@media only screen and (max-width: 768px){
    .bttm{
        flex-direction: column;
    }
}

/* profile */
.profilebox{
    display: flex;
    gap: 2rem;
}
.picture{
    max-width: 250px;
}
.firstn{
    color: var(--text-color);
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}
.lastn{
    color:var(--primary-color);
    font-weight: 700;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;
}
.nametitle{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}
@media only screen and (max-width: 768px){
    .profilebox{
        flex-direction: column;
    }
}

/* clomun 1 */
.sklist{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}

.refitem{
    margin-top: 2rem;
}
.refname{
    font-size: 1.6rem;
    font-weight: 700;
}
.eduitem{
    margin-top: 2rem;
}
.certitem{
    margin-top: 2rem;
}
.expitem{
    margin-top: 2rem;
    margin-left: 2rem;
}
.acheitem{
    margin-top: 2rem;
}

/*interest*/
.inteitems{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.inteitem{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--text-color);
}
.inteitem svg {
    width: 2rem;
}

/*socials*/
.socitems{
    margin-top: 1.5rem;
}
.socitem{
    margin-top: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: left;
    color: var(--text-color);
}
.socitem:hover{
    color: var(--primary-color);
}
socitem svg{
    width: 2rem;
}
hr{
    grid-column: 1 / -1;
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 1rem;
    border: none;
    border-top: 2px solid #60747A;
}
@media only screen and (max-width: 768pc) {
    hr {
        margin: 0 auto;
    }
}